#title:before {
	content: "\f10d";
    font-family: FontAwesome;
    padding-right: 5px;
}

.container-fluid {
	height: 100vh;
}

#heading {
	text-align: center;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
