/*
font-family: 'Roboto', sans-serif; -> Font for text
font-family: 'Raleway', sans-serif; -> Font for headings
*/

html, body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
	font-family: 'Raleway', sans-serif;
}

.main-head {
	width: 100%;
	text-align: center;
	position: relative;
	top: 100px;
}

.accent {
	color: #00c4a7;
}

.bg-accent {
	background-color: #00c4a7;
}

.quote-container {
	width: 100%;
	min-height: 180px;
	padding: 30px;
	border: 1px solid #00c4a7;
}

#head-subtitle {
	background-color: #00c4a7;
	color: white;
}

#head-title:before {
	font-family: FontAwesome;
	content: "\f10d";
}
